				body {
					background-color: #FFE6C7;
				}

				hr {

					border-style: none;
					height: 0px;
					width: 7%;
					border: none;
					border-top:10px dotted;
					border-color: grey; ;
				}

				h1 {
					color: #454545;
				}

				h3 {
					color: #454545;
				}